:host {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
}

.toolbar {
    display: flex;
    flex-wrap: wrap;
    min-height: 80px;
    max-height: 80px;
    background-color: gray;
    align-items: center;
    padding: 0 10px;
}

.spacer {
    flex: auto 1 0;
}

#start {
    height: 100%;
    width: 100%;
}

.score {
    color: white;
    font-size: 2rem;
    margin-right: 10px;
}

.timer {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 2rem;
}

.danger {
    color: red !important;
}

.warning {
    color: yellow !important;
}

.accuracy {
    color: white;
    font-size: 2rem;
}

.count-down {
    font-size: 5rem;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}