:host {
    display: flex;
    flex-direction: column;
}

button {
    min-height: 5rem;
    min-width: 15rem;
    max-width: 15rem;
    align-self: center;

    &:not(:last-child) {
        margin-bottom: 10px;
    }
}

.menu-text {
    font-size: 2rem;
    line-height: 100%;
    color: white;
    margin-bottom: 2rem;
    max-width: 75%;
    align-self: center;
}